* {
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
}
a {
  cursor: pointer;
  all: unset;
}

#inner {
  max-width: 695px;
  margin: 0 auto;
}
.head-container {
  width: 100%;
  margin-bottom: 15px;
}
.head-box {
  margin-top: 35px;

  display: flex;
  justify-items: center;
  align-items: center;
}
#head-title {
  margin: 0 auto;
  font-size: 65px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 800;
  color: yellowgreen;
}
.inner-container {
  width: 550px;
  margin: 0 auto;
}
.section-contianer {
  max-width: 100%;
}
.section-input-container {
  padding: 0 15px;
}
.section-title {
  margin-bottom: 7px;
  font-weight: bold;
}
.section-title-text {
  width: 100%;
  padding: 15px 0;
}
.warn-text {
  margin-top: 10px;
  font-size: 12px;
  color: red;
  visibility: hidden;
}
input::placeholder {
  text-align: right;
  margin-right: 15px;
}
